{% extends 'adminlte/base.html' %}

{% block content %}
    <h1>Listagem de venda</h1>
    <a class="btn btn-success" href="{% url 'cadastrar_venda' %}"><i class="fa fa-plus"></i> CADASTRAR VENDA</a>

    <table class="table table-striped">
        <thead>
            <th>CLIENTE</th>
            <th>VALOR</th>
            <th>DATA DA VENDA</th>
            <th>HORA DA VENDA</th>
            <th>NUMERO DA VENDA</th>
            <th>PRODUTO</th>
            <th>COMPROVANTE DA VENDA</th>
            <th>VENDA CONCLUIDA</th>
        </thead>
        <tbody>
    {% for obj_venda in object_list %}
            <tr>
                <td>{{obj_venda.pk}}</td>
                {% if obj_venda.nome|length > 30 %}
                <td>{{obj_venda.nome|slice:":30"}}...</td>
                {% else %}
                <td>{{obj_venda.nome|slice:":30"}}</td>
                {% endif %}
                <td>{{obj_venda.valor}}</td>
                <td>{{obj_venda.data_venda}}</td>
                <td>{{obj_venda.cliente}}</td>
                <td>
                    <a href="{% url 'detalhes_venda' obj_venda.pk %}"><i class="fa fa-search" rel="tooltip" title="Ver detalhes da venda"></i> </a>
                    <a href="{% url 'corrigir_venda' obj_venda.pk %}"><i class="fa fa-edit" rel="tooltip" title="Editar Venda"></i></a>
                    <a href="{% url 'atualizar_observacao_venda' obj_venda.pk %}"><i class="fa fa-edit"  rel="tooltip" title="Editar Observação"></i></a>
                    <a href="{% url 'atualizar_cliente_venda' obj_venda.pk %}"><i class="fa fa-edit"  rel="tooltip" title="Editar Cliente da Venda"></i></a>
                    {% if obj_venda.excluido is False %}
                    <a class="desabilitar-venda" data-url="{% url 'ajax_desabilitar_venda' obj_venda.pk %}" href="#"><i class="fa fa-times" rel="tooltip" title="Desabilitar Venda"></i></a>
                    {% else %}
                    <a class="habilitar-venda" data-url="{% url 'ajax_habilitar_venda' obj_venda.pk %}" href="#"><i class="fa fa-check" rel="tooltip" title="Habilitar Venda"></i></a>
                    {% endif %}
                </td>
            </tr>
    {% empty %}
        <h3>Desculpe, você ainda nao possui vendas cadastradas em seu sistema.
            <br/>:'(</h3>
    {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a class="btn btn-default" href="?page=1">&laquo; Primeira Página </a>
                <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-arrow-left"></i> Página Anterior </a>
                {% endif %}

                <span class="current">
                    | Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}. |
                </span>

                {% if page_obj.has_next %}
                    <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">Próxima Página <i class="fa fa-arrow-right"></i></a>
                    <a class="btn btn-default" href="?page={{ page_obj.paginator.num_pages }}">| Última Página &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}


{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(document).ready(function() {
            // Vai ser executado apenas após a página estar pronta. Ou seja, carregada.

            // Clicando no ícone de desabilitar
            $(".desabilitar-venda").click(function() {
                //Capturando o valor da propriedate "data-url" que está na tag do ícone com a classe "desabilitar-venda"
                var url = $(this).attr('data-url');

                //Abrindo o nosso modal (popup) do SweetAlert com as opções de "confirmação de açao" e "cancelar ação"
                swal({
                  title: "Desabilitar Venda",
                  text: "Tem certeza que deseja desabilitar esta venda?",
                  icon: "warning",
                  buttons: true,
                  dangerMode: true,
                })
                .then((willDelete) => {
                  if (willDelete) {

                    //Se clicar na ação de confirmar a deleção, irá iniciar o AJAX
                    $.ajax({
                        url: url,
                        success: function (data) {

                            //No sucesso do AJAX, irá exibir uma modal com SweetAlert informando que a desabilitação foi realizada com sucesso
                            swal("Venda desabilitada com sucesso!", {
                              icon: "success",
                              timer: 3000
                            });

                            //Recarregando a página
                            location.reload();
                        }
                    });

                  } else {

                    //Exibindo o SweetAlert caso o usuário cancele a ação
                    swal("Ação cancelada...");
                  }
                });
            });

            //Clicando no ícone de habilitar
            $(".habilitar-venda").click(function() {
                var url = $(this).attr('data-url');
                swal({
                  title: "Habilitar Venda",
                  text: "Tem certeza que deseja habilitar esta venda?",
                  icon: "warning",
                  buttons: true,
                  dangerMode: true,
                })
                .then((willDelete) => {
                  if (willDelete) {
                    $.ajax({
                        url: url,
                        success: function (data) {
                            swal("Venda habilitada com sucesso!", {
                              icon: "success",
                              timer: 3000
                            });
                            location.reload();
                        }
                    });

                  } else {
                    swal("Ação cancelada...");
                  }
                });
            });

        });

    </script>

{% endblock %}
